@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@700;800&display=swap');
@import "tailwindcss";

@theme{
  --color-bg-cream: #FAEED1;
  --color-primary: #1E3F20;
  --color-accent: #D97706;
  --color-text: #2D312E;
  --color-off-white: #F8F9FA;

  --font-heading: "Poppins", "Montserrat", sans-serif;
  --font-body: "Inter", "Open Sans", sans-serif;
}

body{
  @apply bg-bg-cream text-text antialiased font-body font-medium text-[16px];
  margin: 0 auto;
}

a{
    @apply font-body transition-colors duration-200;
}

a:hover{
    @apply no-underline;
}

